#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1, span, #student-count, #passed-count, #failed-count, #percentage-failed {
    color: white;
}

#header {
    background-image: url("./book.jpg");
    background-repeat: no-repeat;
    margin: auto;
    padding: 30px;
    height: 250px;
    width: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#stats {
    margin: auto;
    justify-content: center;
    align-items: center;
}

#failed-title, #entry-error {
    color: #F22613;
}

#student-count {
    font-size: 1.5rem;
}

#passed-total {
    width: 250px;
    height: 25px;
    background-color: #2ABB9B;
    padding: 10px;
    text-align: left;
}

#failed-total {
    width: 250px;
    height: 25px;
    background-color: tomato;
    padding: 10px;
    text-align: left;
}

#percentage-failed {
    background-color: #E68364;
}

#grade-failed {
    color: tomato;
    margin-right: 10px;
    float: right;
}

#grade-passed {
    color: #2ABB9B;
    margin-right: 10px;
    float: right;
}

#charts {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#passed-chart, #failed-chart {
    width: 30%;
    margin-left: 5%;
}

li {
    height: 1.5rem;
    padding: 5px;
}

#form {
    width: 1250px;
    height: 78px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#form, select, option, input {
    padding: 5px;
    background-color: #EEEEEE;
}

#add-entry {
    color: #2ABB9B;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    font-size: 1.5rem;
}

#subjects, #grades {
    width: 130px;
}

#name {
    width: 300px;
}

li:nth-child(even) {
    background-color: #EEEEEE;
}

li:nth-child(odd) {
    border-top: 1px solid #BDC3C7;
    border-bottom: 1px solid #BDC3C7;
}

#passed-title, #failed-title {
    font-size: 1.2rem;
}

#passed-list, #failed-list {
    list-style: none;
    text-indent: none;
    margin-left: -8%;
}

span {
    display: inline-block;
}

#passed-count {
    margin-left: 120px;
    text-align: right;
}

#percentage-failed {
    margin-left: 5px;
    height: 20px;
    padding: 4px;
    width: 40px;
    text-align: center;
}

#failed-count {
    text-align: right;
    margin-left: 130px;
}